
.volumes {
    font-family: 'Trebuchet MS', sans-serif;
    color: #000000;
    font-weight: normal;
    margin: 8px;
    padding: 0;
}

.volume{
    margin-bottom: 12px;
}

ul li h3 {
	color: #ababab;
	margin: 5px;
}

.jobs {
    font-family: 'Trebuchet MS', sans-serif;
    color: #232323;
    /*color: #acacac;*/
    font-weight: normal;
    margin: 0;
    padding: 8px;
}

.no_jobs {
    font-family: 'Trebuchet MS', sans-serif;
    color: #acacac;
    font-weight: normal;
    margin: 0;
    padding: 8px;
}

.messages {
    font-family: 'Trebuchet MS', sans-serif;
    color: #232323;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.messages h3{
	color: #ababab;
	margin: 5px;
}

.message_null {
    border-width: 10px;
    border-color: #000000;
    /*background-color: gray;*/
    border-radius: 5px;
    padding: 4px;
	margin: 8px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.message0 {
    border-width: 10px;
    border-color: #000000;
    background-color: gray;
    border-radius: 5px;
    padding: 4px;
	margin: 8px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.message1 {
    border-width: thin;
    border-color: #000000;
    background-color: yellow;
    border-radius: 5px;
    padding: 4px;
	margin: 8px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.message2 {
    border-width: thin;
    border-color: #000000;
    background-color: orange;
    border-radius: 5px;
    padding: 4px;
	margin: 8px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.message3 {
    border-width: thin;
    border-color: #000000;
    background-color: red;
    border-radius: 5px;
    padding: 4px;
	margin: 8px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.drive {
    border-width: thin;
    border-color: #000000;
    background-color: #A4A4A4;
    border-radius: 10px;
    padding: 16px;
    margin: 8px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.nodrive {
    border-width: thin;
    border-color: #000000;
    background-color: gray;
    border-radius: 5px;
    padding: 4px;
    margin: 8px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.compound-element {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px;
    margin: 8px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.compound-element .btn {
    font-size: 20px;
}

.record-list {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px;
    margin: 8px;
    color: #123456;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.record-in-list{
    border-style: solid;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    border-color: gray;
    font-size: 14px;
    background-color: white;
}

footer {
	border-top: 1px solid #EEE;
}

.page_links a {
    color: #ababab;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-decoration: none;
}

.progress {
    background-color: #FFFFFF;
    margin: 0px;
}

.nav-sidebar{
    margin-bottom: 10px;
}

.explorer {
    height: 600px;
    overflow: auto;
    background-color: #ababab;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}

.breadcrumb a {
    font-size: 25px;
    color: black;
}

.breadcrumb {
    font-size: 25px;
}

img.exp_img {
    margin: auto;
    vertical-align: middle;
}

.calendar-container{
    background: #FFF;
}

.calendar-container-today{
    background: #fbffb8;
}

.calendar-container-other{
    background: #f0f0f0;
}

.calendar-container-today-other{
    background: #fbffb8;
}

.day-number {
    font-weight: 900;
    font-size: 20px;
    text-align: right;
    background: #9599ff;
    color: #000000;
    padding: 6px;
}

.day-number-today {
    font-weight: 900;
    font-size: 20px;
    text-align: right;
    background: #ffe14e;
    color: #000000;
    padding: 6px;
}

.day-number-other {
    font-weight: 900;
    font-size: 20px;
    text-align: right;
    background: #c5d2ff;
    color: #FFFFFF;
    padding: 6px;
}

.day-number-today-other {
    font-weight: 900;
    font-size: 20px;
    text-align: right;
    background: #ffe14e;
    color: #FFFFFF;
    padding: 6px;
}

.day-name-m {
    font-weight: 500;
    font-size: 25px;
    text-align: right;
    background: #7D98E4;
    padding: 6px;
}

.day-name-l {
    font-weight: 500;
    font-size: 25px;
    text-align: right;
    background: #7D98E4;
    padding: 6px;
    border-top-left-radius: 16px;
}

.day-name-r {
    font-weight: 500;
    font-size: 25px;
    text-align: right;
    background: #7D98E4;
    padding: 6px;
    border-top-right-radius: 16px;
}

.record-label {
    border-style: solid;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    border-color: #c8c8c8;
    border-width: 1px;
    font-size: 16px;
    background: #FFFFFF;
}

.record-label-selected {
    border-style: solid;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    border-color: #C8C8C8;
    border-width: 1px;
    font-size: 16px;
    background: #9ce979;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td  {
    padding: 0px;
}

.table-bordered {
    border: 0px;
}

.session-state a{
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #777;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
}

.session-state a:focus, .session-state a:hover {
    color: #FFF;
    background-color: transparent;
}

.session-name a{
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #777;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
}

body {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: 40px;
}

::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(77,77,77,1);
    border-radius: 20px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 0;
    background-color: rgba(220,220,220,1);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(155,155,155,1);
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,1);
}

.stat-calendar-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.stat-calendar-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}

.panel-danger {
    border-color: #E70C0C;
}

.panel-danger > .panel-heading {
    color: #FFF;
    background-color: #E70C0C;
    border-color: #E70C0C;
}

